.header{
    background-color: aquamarine;
}

.container{
    padding-bottom: 50px;
    margin-top: 5px;
}
.list-group{
    padding-bottom: 30px;
}
#filter{
    width: 90%;
  border-outline: 1px solid white;
}
#search{
    margin-top: 3px;
}
